@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=PT+Serif:wght@700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root {
    --color-primary: #44476A;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Login Page */

.create-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #44476A;
    background: #E6E7EE;
}

#keperluan {
    padding-top: 1rem;
    text-align: left;
    resize: vertical;
    bottom: 0;
    /* padding-left: 1rem; */
    border: none;
    width: 100%;
    outline: none;
    background: none;
    /* height: 40%; */
    font-size: 18px;
    color: #44476A;
    line-height: 1.5;
    font-size: 1rem;
    border-radius: 0.55rem;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
}

select {
    word-wrap: normal;
}

.create-page {
    width: 600px;
    height: auto;
    padding: 25px 35px 35px 35px;
    border-color: #d1d9e6!important;
    border: 0.0625rem solid rgba(243, 247, 250, .05);
    border-radius: 0.55rem;
    background: #E6E7EE;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
}

.create-page h2 {
    letter-spacing: 0.5px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 40px
}

.create-form {
    width: 100%;
    padding: 5px 5px 5px 5px;
}

.create-form .inputBox label {
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
}

.create-form .inputBox {
    margin-bottom: 40px;
}

.create-form .inputBox input {
    border: none;
    outline: none;
    background: none;
    height: 50px;
    font-size: 18px;
    color: #44476A;
    line-height: 1.5;
    font-size: 1rem;
    border-radius: 0.55rem;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
}

#fname {
    border: none;
    outline: none;
    background: none;
    height: 50px;
    font-size: 18px;
    color: #44476A;
    line-height: 1.5;
    font-size: 1rem;
    border-radius: 0.55rem;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
}

.create-form .submit button {
    position: relative;
    display: block;
    width: 100%;
    transition: all .2s ease;
    letter-spacing: .025em;
    font-size: 1rem;
    color: #31344b;
    line-height: 1.5;
    background-color: #e6e7ee;
    border-color: #d1d9e6;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
}

.create-form .submit button:hover {
    border-radius: 0.55rem;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
}

.create-form .forget-link {
    margin-top: 40px;
}

.create-form .forget-link a {
    color: #31344b;
    text-decoration: none;
    background-color: transparent;
    font-weight: 600;
}

html {
    font-size: 14px;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

aside .top {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
    gap: 0.8rem;
}

aside .logo img {
    width: 2rem;
    height: 2rem;
}

aside .close {
    display: none;
}

aside .sidebar {
    background: white;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-primary);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    background: var(--color-success);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: "";
    width: 3px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem-3px);
}

aside .sidebar a:hover {
    color: black;
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

.date {
    display: inline-block;
    background-color: #ff7782 !important;
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1.6rem;
}

.date input[type="date"] {
    background: transparent;
    color: white;
}

/* .insights {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

div .sales {
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 25px;
    border-radius: 6px;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(128, 135, 148, 0.562);
}

.insight>div {
    padding: 1.8rem;
    border-radius: 1rem;
    margin-top: 1rem;
    transition: all 300ms ease;
    text-decoration: none;
}

 .insights>div:hover {
    box-shadow: none;
}

 .insights>div span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    font-size: 2rem;
}

 .insights>div.expenses span {
    background: var(--color-danger);
}

 .insights>div.income span {
    background: var(--color-success);
}

 .insights>div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

 .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

 .insights svg {
    width: 7rem;
    height: 7rem;
}

 .insights svg circle {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

 .insights .sales svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

 .insights .expenses svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}

 .insights .income svg circle {
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}

 .insights .progress .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .insights small {
    margin-top: 1.3rem;
    display: block;
} */


/* right */

/* .right {
    margin-top: 1.4rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
    background: gray;
}

.right .top button {
    display: none;
} */


/* Request Item */

.req-items {
    margin-top: 40px;
    font-size: 15px;
}

/* .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #44476A;
}

.tab-content {
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 25px;
    border-radius: 6px;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(128, 135, 148, 0.562);
} */

/* .warehouse-request {
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 25px;
    border-radius: 6px;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(128, 135, 148, 0.562); */
}


/* Media queries */

@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }
    aside .logo h2 {
        display: none;
    }
    aside .sidebar h3 {
        display: none;
    }
    aside .sidebar a {
        width: 5.6rem;
    }
    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }
    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }
    main .recent-orders {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }
    main .recent-orders table {
        width: 83vw;
    }
    main table thead tr th:last-child,
    main table tbody tr td:first-child {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }
    aside {
        position: fixed;
        left: -100%;
        background: white;
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: 1.8rem;
        display: none;
        animation: showMenu 400ms ease forwards;
    }
    @keyframes showMenu {
        to {
            left: 0;
        }
    }
    aside .logo {
        margin-left: 1rem;
    }
    aside .logo h2 {
        display: inline;
    }
    aside .sidebar h3 {
        display: inline;
    }
    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }
    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
    }
    aside .close {
        display: inline-block;
        cursor: pointer;
    }
    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }
    main .recent-orders {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }
    main .recent-orders table {
        width: 100%;
        margin: 0;
    }
    .right {
        width: 94%;
        margin: 0 auto 4rem;
    }
    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: white;
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }
    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: black;
        position: absolute;
        left: 1rem;
    }
    .right .top button span {
        font-size: 2rem;
    }
}