@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https:fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Space Mono', monospace;
}

.sidebar{
    width: 345px;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    background: #E6E7EE;
    transition: width 300ms;
}

.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: var(--bs-gray-800);
}

.sidebar-brand span{
    display: flex;
    padding-right: 1rem;
    font-weight: bold;
    color: #44476A;
    font-size: 60px;
    justify-content: left;
    align-items: left;
}

.sidebar-brand .warehouse{
    padding-top: 0;
    font-size: 15px;
}

.sidebar-menu{
    margin-top: 3rem;
}

.sidebar-menu li{
    width: 90%;
    margin-bottom: 1.7rem;
}

.sidebar-menu a{
    padding-left: 1rem;
    display: block;
    color: #44476A;;
    font-size: 1.1rem;
}

.sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}

#nav-toggle:checked + .sidebar {
    width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
    padding-left: 1rem;
    text-align: center;
}

#nav-toggle:checked + .sidebar li a{
    padding-left: 0rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child{
    display: none;
}

#nav-toggle:checked ~ .main-content {
    margin-left: 70px;
}

#nav-toggle:checked ~ .main-content {
    margin-left: 70px;
}

.sidebar-menu a.active{
    /* border: none;
    outline: none;
    background: none;
    height: 60px;
    font-size: 2rem;
    color: #44476A;
    font-size: 1rem;
    border-radius: 0.55rem;
    box-shadow: inset 2px 2px 5px #b8b9be,
                inset -3px -3px 7px #fff;
    padding-top: 1rem ;
    padding-bottom: 1rem;
    border-radius: 30px 30px 30px 30px; */

    outline: none;
    display: flex;
    background: #E6E7EE;
    border-color: #d1d9e6!important;
    border: 0.0625rem solid rgba(243,247,250,.05);
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: inset 2px 2px 5px #b8b9be,
        inset -3px -3px 7px #fff;
    padding: 1rem;
    color: #44476A;
}

.main-content{
    transition: margin-left 300ms;
    margin-left: 345px;
}

.main-content h2{
    font-size: 30px;

}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    transition: width 300ms;
}

/* dashboard */
header h2{
    color: #222;
}

/* hamburger icon */
header label span{ 
    font-size: 1.7rem;
    padding-right: 1rem;
}

.user-wrapper{
    display: flex;
    align-items: center;
}

.user-wrapper h4{
    font-size: 20px;
    margin-top: 10px;
}

.user-wrapper span{
    border-radius: 50%;
    /* margin-right: 1rem; */
    font-size: 20px;
    padding-right: 2px;
}

main{
    margin-top: 80px;
    padding: 2rem 1.5rem;
    background: #E6E7EE;
    min-height: calc(100vh - 90px);
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.card-single{
    display: flex;
    justify-content: space-between;
    background: #E6E7EE;
    border-color: #d1d9e6!important;
    border: 0.0625rem solid rgba(243,247,250,.05);
    border-radius: 0.55rem;
    box-shadow: 6px 6px 12px #b8b9be,
                -6px -6px 12px #fff;
    padding: 2rem;
    color: #44476A;
}

.card-single span:first-child{
    font-size: 3rem;
    padding-right: 0.5rem;
}

.card-single span:first-child{
    color: #44476A;
}

/* #nav-toggle:checked + .sidebar {
    width: 100px;
    display: none;
} */
