Google Fonts Import Link
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap');

* {
  /* color: #44476A; */
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 280px;
  background: #E6E7EE;
  z-index: 100;
  transition: all 0.5s ease;
}

.sidebar.close {
  width: 78px;
}

.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar .logo-details .logo_name {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 40px;
  color: #44476A;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

/* .sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
} */
.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
  margin-left: 10px;
  padding-left: 20px;
  padding: 4px;
  background: none;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #44476A;
  line-height: 1.5;
  background-color: #e6e7ee;
  border-color: #d1d9e6;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
}

.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
  display: block;
}

.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #44476A;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
  display: none;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 4px;
}

.sidebar .nav-links li a .link_name {
  font-size: 17px;
  font-weight: 400;
  color: #44476A;
  transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: none;
  display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  color: #44476A;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
  background: none;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details {
  background: none;
}

.sidebar.close .profile-details {
  width: 78px;
}

.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}

.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
  padding: 10px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #44476A;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}

.sidebar .profile-details .job {
  font-size: 12px;
}

.home-section {
  position: relative;
  background: #E4E9F7;
  height: 100vh;
  left: 260px;
  width: calc(100% - 280px);
  transition: all 0.5s ease;
}

.sidebar.close~.home-section {
  left: 78px;
  width: calc(100% - 78px);
}

/* register-page */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #44476A;
  background: #E6E7EE;
}

.register-page {
  width: 530px;
  height: auto;
  padding: 60px 35px 35px 35px;
  border-color: #d1d9e6!important;
  border: 0.0625rem solid rgba(243,247,250,.05);
  border-radius: 0.55rem;
  background: #E6E7EE;
  box-shadow: 6px 6px 12px #b8b9be,
      -6px -6px 12px #fff;
}

.register-page h2 {
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #44476A;
  font-size: 40px;
}

.register-form {
  width: 100%;
  padding: 5px 5px 5px 5px;
}

.register-form .inputBox label {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

.register-form .inputBox {
  margin-bottom: 10px;
}

.register-form .inputBox input {
  border: none;
  outline: none;
  background: none;
  height: 50px;
  font-size: 18px;
  color: #44476A;
  line-height: 1.5;
  font-size: 1rem;
  border-radius: 0.55rem;
  box-shadow: inset 2px 2px 5px #b8b9be,
      inset -3px -3px 7px #fff;
}

.register-form .inputBox select {
  border: none;
  outline: none;
  background: none;
  height: 50px;
  font-size: 18px;
  color: #44476A;
  line-height: 1.5;
  font-size: 1rem;
  border-radius: 0.55rem;
  box-shadow: inset 2px 2px 5px #b8b9be,
      inset -3px -3px 7px #fff;
}

.register-form .submit button {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 40px;
  transition: all .2s ease;
  letter-spacing: .025em;
  font-size: 1rem;
  color: #31344b;
  line-height: 1.5;
  background-color: #e6e7ee;
  border-color: #d1d9e6;
  box-shadow: 3px 3px 6px #b8b9be,
      -3px -3px 6px #fff;
}

.register-form .submit button:hover {
  border-radius: 0.55rem;
  box-shadow: inset 2px 2px 5px #b8b9be,
      inset -3px -3px 7px #fff;
}

.register-form .forget-link {
  margin-top: 30px;
}

.register-form .forget-link a {
  color: #31344b;
  text-decoration: none;
  background-color: transparent;
  font-weight: 600;
}


/* .home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 40px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}

.home-section header{
  display: flex;
  justify-content: space-between;
} */

/* .profile-content .dropdown button {
  font-size: 18px;
  font-weight: 600; */
/* margin-top: 10px; */
/* text-decoration: none; */
/* color: #44476A; */
/* margin-right: 30px; */
/* } */

/* .profile-content {
  margin: 0 10px;
  position: relative; */
/* margin-right: 1rem; */
/* font-size: 50px;
  padding-right: 2px;
} */

/* .dropbtn {
  background-color: #ffff;
  color: black;
  padding-top: 10px;
  font-size: 18px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
} */

.home-section nav {
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
  left: 10px;
  width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
}

.home-section nav .search-box {
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}

nav .search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}

nav .search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  background: none;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #44476A;
  font-size: 22px;
  transition: all 0.4 ease;
}

.home-section nav .profile-details {
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}

nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}

nav .profile-details i {
  font-size: 25px;
  color: #333;
}

/* dropdown user */
.dropbtn {
  background-color: #ffff;
  color: #44476A;
  padding-left: 40px;
  padding-top: 10px;
  font-size: 15px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #44476A;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* main {
  margin-top: 80px;
  margin-left: 50px; */
/* padding: 2rem 1.5rem; */
/* padding: 2rem 2rem 2rem 3rem;
  background: #E6E7EE;
  min-height: calc(100vh - 90px);
} */

/* .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.card-single {
  display: flex;
  justify-content: space-between;
  background: #E6E7EE;
  border-color: #d1d9e6 !important;
  width: 15rem;
  border: 0.0625rem solid rgba(243, 247, 250, .05);
  border-radius: 0.55rem;
  box-shadow: 6px 6px 12px #b8b9be,
      -6px -6px 12px #fff;
  padding: 2.5rem 3.5rem;
  color: #44476A;
  cursor: pointer; */
/* transition: 1s; */
/* } */

/* .card-single span:first-child {
  font-size: 2rem;
  padding-right: 0.5rem;
}

.card-single span:first-child {
  color: #44476A;
} */

.home-section .home-content {
  position: relative;
  padding-top: 104px;
}

.home-content .overview-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}

.overview-boxes .box {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #E6E7EE;
  border-color: #d1d9e6 !important;
  border: 0.0625rem solid rgba(243, 247, 250, .05);
  border-radius: 0.55rem;
  box-shadow: 6px 6px 12px #b8b9be,
    -6px -6px 12px #fff;
}

.overview-boxes .box-topic {
  font-size: 20px;
  font-weight: 500;
}

.home-content .box .number {
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}

.home-content .box .indicator {
  display: flex;
  align-items: center;
}

.home-content .box .indicator i {
  height: 20px;
  width: 20px;
  background: #8FDACB;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}

.box .indicator i.down {
  background: #e87d88;
}

.home-content .box .indicator .text {
  font-size: 12px;
}

.home-content .box .cart {
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #44476A;
  line-height: 50px;
  text-align: center;
  color: #fff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}

.home-content .box .cart.two {
  color: #fff;
  background: #44476A;
}

.home-content .box .cart.three {
  color: #fff;
  background: #44476A;
}

.home-content .box .cart.four {
  color: #fff;
  background: #44476A;
}

.home-content .total-order {
  font-size: 20px;
  font-weight: 500;
}

/* gabung binus profile */

.home-section nav .profile-details {
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}

nav .profile-details ul.sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: none;
  display: none;
}

nav .profile-details .showMenu .sub-menu {
  display: block;
}

nav .profile-details .sub-menu a {
  color: #44476A;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

nav .profile-details .sub-menu a:hover {
  opacity: 1;
  background: none;
}

nav.close .profile-details .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

nav.close .profile-details ul:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

nav .profile-details .sub-menu .link_name {
  display: none;
}

nav.close .profile-details .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

nav .profile-details .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

nav .profile-details ul:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

/* for create page */
.create{
  margin-top: 50px;
  margin-left: 400px;
  width: 500px;
  height: auto;
  padding: 25px 35px 25px 40px;
  border-color: #d1d9e6 !important;
  border: 0.0625rem solid rgba(243, 247, 250, .05);
  border-radius: 0.55rem;
  background: #E6E7EE;
  box-shadow: 6px 6px 12px #b8b9be,
    -6px -6px 12px #fff;
}

.request {
  text-align: center;
  color: #44476A;
  font-weight: 800;
  font-size: 40px;
}

label {
  font-weight: 800;
  text-align: left;
  color: #44476A;
}

input{
  padding-top: 0.5rem;
  text-align: left;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  height: 50px;
  font-size: 18px;
  color: #44476A;
  line-height: 1.5;
  font-size: 1rem;
  border-radius: 0.55rem;
  box-shadow: inset 2px 2px 5px #b8b9be,
    inset -3px -3px 7px #fff;
}

#keperluan {
  padding-top: 1rem;
  text-align: center;
  resize: vertical;
  bottom: 0;
  /* padding-left: 1rem; */
  border: none;
  width: 100%;
  outline: none;
  background: none;
  /* height: 40%; */
  font-size: 18px;
  color: #44476A;
  line-height: 1.5;
  font-size: 1rem;
  border-radius: 0.55rem;
  box-shadow: inset 2px 2px 5px #b8b9be,
    inset -3px -3px 7px #fff;
}

select {
  text-align: center;
  padding: 0 1rem;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  height: 50px;
  font-size: 18px;
  color: #44476A;
  line-height: 1.5;
  font-size: 1rem;
  border-radius: 0.55rem;
  box-shadow: inset 2px 2px 5px #b8b9be,
    inset -3px -3px 7px #fff;
}

.submit-request {
  padding: 1rem;
  position: relative;
    display: block;
    width: 100%;
    transition: all .2s ease;
    letter-spacing: .025em;
    font-size: 1rem;
    color: #31344b;
    line-height: 1.5;
    background-color: #e6e7ee;
    border-color: #d1d9e6;
    border: none;
    border-radius: 0.55rem;
    box-shadow: 3px 3px 6px #b8b9be,
        -3px -3px 6px #fff;
}

.submit-request:hover {
  border-radius: 0.55rem;
  box-shadow: inset 2px 2px 5px #b8b9be,
    inset -3px -3px 7px #fff;
}

/* for upload page */
/* .upload_form {
  line-height: 1.5rem;
  margin-top: 50px;
  margin-left: 400px;
  width: 600px;
  height: auto;
  padding: 25px 35px 25px 40px;
  border-color: #d1d9e6!important;
  border: 0.0625rem solid rgba(243,247,250,.05);
  border-radius: 0.55rem;
  background: #E6E7EE;
  box-shadow: 6px 6px 12px #b8b9be,
        -6px -6px 12px #fff;
}

.upload_request {
  padding: 1rem;
  position: relative;
    display: block;
    width: 100%;
    transition: all .2s ease;
    letter-spacing: .025em;
    font-size: 1rem;
    color: #31344b;
    line-height: 1.5;
    background-color: #e6e7ee;
    border-color: #d1d9e6;
    border: none;
    border-radius: 0.55rem;
    box-shadow: 3px 3px 6px #b8b9be,
        -3px -3px 6px #fff;
}

.upload_request:hover {
  border-radius: 0.55rem;
  box-shadow: inset 2px 2px 5px #b8b9be,
    inset -3px -3px 7px #fff;
} */

table {
  min-width: max-content;
  border-collapse: separate;
  border-spacing: 0px;
}

#example th {
  position: sticky;
  top: 0px;

  /* background-color: #133b5c; */
  /* color: rgb(241, 245, 179); */

  text-align: center;
  font-weight: normal;
  font-size: 18px;
  /* border: 1.5px solid black; */
}

#example td {
  text-align: center;
  font-size: 15px;
  padding-left: 20px;
}

#example th,
#example td {
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* for items */
/* table{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-right: 50px;
  margin-top: 100px;
  text-align: center;
  font-size: 15px;
} */

.container .row .col-12 .data_table #example th {
  text-align: center;
}

/* datatable */
html {
  scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
  width: 10px;
  background-color: #575757;
  cursor: pointer;
}

html ::-webkit-scrollbar-thumb {
  background: linear-gradient(160deg, #3c76ba, #1e428b);
  width: 10px;
  border-radius: 5px;
}

html ::-webkit-scrollbar-thumb:hover {
  background: #379dc3;
  cursor: pointer;
}

body {
  background: #eee;
  font-family: 'Space Mono', monospace;
  padding: 100px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul,
li,
img,
span,
/* input, */
/* form, */
/* label, */
.btn,
.navbar,
.navbar-brand {
  margin: 0;
  padding: 0;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection,
ol::selection,
ul::selection,
li::selection,
img::selection,
span::selection,
input::selection,
form::selection,
label::selection,
.btn::selection {
  color: #fff;
  background: #187fcc;
  text-shadow: 1px 1px 1px #333;
}

ol,
ul,
li {
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
  color: #333;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

h1 {
  font-size: 50px;
  color: #111;
  font-weight: 600;
}

h2 {
  color: #111;
  font-weight: 600;
}

h3 {
  font-size: 35px;
  color: #111;
  font-weight: 600;
}

h4 {
  font-size: 30px;
  color: #111;
  font-weight: 600;
}

h5 {
  font-size: 25px;
  color: #111;
  font-weight: 600;
}

h6 {
  font-size: 18px;
  color: #111;
}

p {
  font-size: 14px;
  color: #111;
}

.ptb-50 {
  padding: 50px 0px;
}

.mtb-15 {
  margin: 15px 0;
}

thead {
  background-color: rgb(71, 71, 74);
  color: white;
  background-color: #44476A;
  ;
}


/* ==== Scoll  = Start ===== */
.totop {
  position: fixed;
  bottom: 0px;
  right: 10px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  display: none;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 5px 5px 0 0;
  line-height: 47px;
  font-size: 20px;
  text-align: center;
}

.totop:hover {
  line-height: 40px;
  color: #fff;
  background: #194274;
  text-shadow: 0 0 5px #000;
}

/* ==== Scoll  = End ===== */


/* ==== Data table  = Start ===== */

.data_table {
  background: rgb(31, 20, 20);
  padding: 15px;
  box-shadow: 1px 3px 5px #aaa;
  border-radius: 10px;

}

.data_table .btn {
  padding: 5px 10px;
  margin: 10px 3px 10px 0;
}


/* table of items */
div.dataTables_wrapper {
  width: 1200px;
  margin: 0 auto;
}

.dataTables_wrapper .dataTables_length select{
  border: 1px solid #aaa;
border-radius: 3px;
padding: 5px;
background-color: transparent;
width: 50px;
}

/* tables */






/* @media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
  .sidebar{
    width: 78px;
  }
  .sidebar.close{
    width: 0;
  }
  .home-section{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section{
    width: 100%;
    left: 0;
  }
} */

/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active~.home-section {
    width: calc(100% - 220px);
    overflow: hidden;
    left: 220px;
  }

  .home-section nav {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active~.home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }

  form {
    margin-left: 100px;
    width: 750px;
    margin-right: 100px;
  }
}

@media (max-width: 1150px) {
  .home-content .sales-boxes {
    flex-direction: column;
  }

  .home-content .sales-boxes .box {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }

  .home-content .sales-boxes .top-sales {
    margin: 0;
  }

  form {
    margin-left: 100px;
    width: 700px;
    margin-right: 100px;
  }
}

@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }

  form {
    margin-left: 100px;
    width: 650px;
    margin-right: 100px;
  }
}

@media(max-width: 950px) {
  form {
    margin-left: 100px;
    width: 600px;
    margin-right: 400px;
  }
}

@media(max-width: 900px) {
  form {
    margin-left: 100px;
    width: 550px;
    margin-right: 100px;
  }
}

@media (max-width: 700px) {

  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i {
    display: none;
  }

  .home-section nav .profile-details {
    height: 50px;
    min-width: 40px;
  }

  .home-content .sales-boxes .sales-details {
    width: 560px;
  }

  form {
    margin-left: 100px;
    width: 500px;
    margin-right: 100px;
  }
}

@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }

  .sidebar.active~.home-section nav .profile-details {
    display: none;
  }

  form {
    margin-left: 50px;
    margin-right: 50px;
    width: 450px;
  }
}

@media (max-width: 400px) {
  body {
    padding: 10px 0;
  }

  .sidebar {
    width: 0;
  }

  .sidebar.active {
    width: 60px;
  }

  .home-section {
    width: 100%;
    left: 0;
  }

  .sidebar.active~.home-section {
    left: 60px;
    width: calc(100% - 60px);
  }

  .home-section nav {
    width: 100%;
    left: 0;
  }

  .sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
  }

  .sidebar.close~.home-section {
    left: 0;
  }

  form {
    font-size: 10px;
    left: 0;
    width: 400px;
    margin-right: 100px;
  }

  select {
    font-size: 20px;
  }

  input {
    font-size: 10px;
  }

  p {
    font-size: 10px;
  }

  .submit-request {
    padding: 10px;
    font-size: 10px;
  }

  .iocn-link {
    size: 10px;
  }
}

@media(max-width: 350px){
  form {
    font-size: 10px;
    left: 0;
    width: 350px;
    margin-right: 30px;
  }
}

@media(max-width: 300px) {
  form {
    font-size: 10px;
    left: 0;
    width: 300px;
    margin-right: 20px;
  }
}


@media(max-width: 300px) @media screen and (max-width: 600px) {
  table {
    margin-left: 100px;
  }


  table thead {
    margin-left: 100px;
    display: none;
  }

  table td {
    margin-left: 100px;
    display: block;
  }

  table td:first-child {
    background-color: #44476A;
    color: white;
    text-align: center;
  }

  td:nth-child(2)::before {}


}