:root{
    background-color: #B9D7EA;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Roboto slab';
    text-transform: capitalize;
    outline: none;border:none;
    transition: .2 linear;
}

h2{
    margin: 20px 0;
    margin-left: 20px;
    font-family: 'poppins';
}

u{
    font-size: 20px;
    color: black;
}

form{
    margin-left: 20px;
}

input{
    font-family: 'poppins';
    margin-bottom: 10px;
    padding-left: 10px;
    margin-top: 2px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
select{
    font-family: 'poppins';
    margin-bottom: 10px;
    padding-left: 10px;
    margin-top: 2px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

button{
    padding: 7px 50px;
    border-radius: 20px;
    background-color: #8fc2e6 ;
    color: whitesmoke;
    cursor: pointer;
    font-size: large;
    margin-top: 4px;
    margin-left: px;
}

button:hover{
    background-color: #769FCD;
}

input#submit{
    width:225px;
    border-radius: 20px;
    background-color: #8fc2e6 ;
    color: whitesmoke;
    cursor: pointer;
    font-size: large;
    margin-top: 12px;
    text-align: center;
}

input#submit:hover{
    background-color: #769FCD;
}

i{
    font-size: 18px;
    color: black;
}

i:hover{
    color: whitesmoke;
}

h1 a{
    text-decoration: none;
}