:root{
    background-color: #B9D7EA;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'kenia', sans-serif, 'Roboto slab';
    text-transform: capitalize;
    outline: none;border:none;
    transition: .2 linear;
}