:root{
    background-color: #B9D7EA;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif, 'Roboto slab';
    text-transform: capitalize;
    outline: none;border:none;
    transition: .2 linear;
}

header{
    position:relative;
    top: 0;left: 0;right:0;
    background-color: #769FCD;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body header .navbar{
    display:contents;
}


body header .navbar .logo img{
    width: 3.5cm;
    height: 2.4cm;
    padding-top: 10px;
    padding-left: 35px;
}

body header .navbar .menu{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    margin-left: 20px;
}

body header .navbar a{
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 10px;
    padding-right: 20px;
    font-size: 100%;
    margin-top: -25px;
    font-family: 'Poppins';
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

body header .navbar a:hover{
    color: #195496;
}

.container{
    width: 100%;
    height: 430px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins';
    text-align: center;
}

form{
    background-color: #D6E6F2;
    height: 700px;
    width: 450px;
}

form .Login #judul{
    margin-top: 20px;
    font-weight: light;
    color: #000000;
}

form input{
    text-transform: none;
    background-color: #B9D7EA;
    width: 300px;
    margin: 5px;
    height: 20px;
    font-size: large;
    padding: 20px;
    color: #79A5C5;
}

::placeholder{
    color: #79A5C5;
}

form button{
    padding: 7px 50px;
    border-radius: 20px;
    background-color: #8fc2e6 ;
    color: whitesmoke;
    cursor: pointer;
    font-size: large;
    margin-top: -20px;
}

button:hover{
    background-color: #769FCD;
}

form h4{
    font-size: smaller;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight:600;
}

h4 a:hover{
    color: #323030;
}

footer .kosong{
    background-color: #7fade1;
    position:fixed;
    left: 0;right:0;bottom: 0;
    background-color: #769FCD;
    padding: 23px;
    display: flex;
    flex-direction: column;
    align-items:last baseline;
    justify-content: flex-end;
}

.captcha-box {
    width: 300px;
    display: inline-block;
    padding-top: 8px;
    justify-content: center;
    border: 2px solid #B9D7EA;
    border-radius: 5px;
    background-color: #B9D7EA; 
    font-weight: bold;
    font-size: 18px;
    user-select: none; /* Prevent text selection */
    cursor: default;    /* Change cursor to default */
}
.captcha-refresh {
    cursor: pointer;
    margin-left: 20px;
    color: blue;
    text-decoration: underline;
    user-select: none; /* Prevent text selection */
}

@media screen and (max-width: 730px) {
    body header .navbar a{
        margin-right: -5px;
        padding-left: 3px;
        padding-right: 10px;
        font-size: 80%;
        margin-top: -25px;
        margin-right: 10px;
        font-family: 'Poppins';
        font-weight: bolder;
        color: rgb(255, 255, 255);
    }
    
    body header .navbar .logo img{
        width: 3cm;
        height: 2cm;
        padding-top: 10px;
        margin-left: -10px;
    }

    body header .navbar .menu .register{
        background-color: #D9D9D9;
        color: #323030;
        padding-top: 2px;
        padding-left: 5px;
        padding-right: -5px;
    }
    
    footer{
        padding: 15px;
    }

    footer li{
        list-style: none;
        color: white;
        margin-top: -5px;
        padding-top: 10px;
        margin-right: 50px ;
        font-weight: lighter;
        font-size: small;
        margin-bottom: -1px;
    }

    body .word{
        margin-top: 20px;
    }

    .content{
        background-image: url(/Assets/img/logistics.jpg);
        background-size:cover;
        min-height :border;
    }
} 

@media screen and (min-width:1000px){
    .content{
        background-size: contain;
    }

    .content .word{
        margin-top: 20px;
    }
}

@media screen and (max-height: 500px) {
    body header .navbar a{
        margin-right: -5px;
        padding-left: 3px;
        padding-right: 10px;
        font-size: 80%;
        margin-top: -25px;
        margin-right: 10px;
        font-family: 'Poppins';
        font-weight: bolder;
        color: rgb(255, 255, 255);
    }
    
    body header .navbar .logo img{
        width: 3cm;
        height: 2cm;
        padding-top: 10px;
        margin-left: -10px;
    }

    body header .navbar .menu .register{
        background-color: #D9D9D9;
        color: #323030;
        padding-top: 2px;
        padding-left: 5px;
        padding-right: -5px;
    }
    
    footer{
        display: none;
    }
    .content{
        scroll-behavior: smooth;
        background-image: url(/Assets/img/logistics.jpg);
        background-size:cover;
        min-width: min-content;
    }
} 
