:root{
    background-color: #B9D7EA;
}

body{
    background-color: #B9D7EA;
    align-items: center;

}


    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: sans-serif, 'Roboto slab';
        text-transform: capitalize;
        outline: none;border:none;
        transition: .2 linear;
    }


i{
    font-size: 18px;
    color: black;
}

i:hover{
    color: whitesmoke;
}

h2 a{
    text-decoration: none;
}

button{
    text-decoration: none;
    border: none;
    cursor:pointer;
}

button:hover{
    background-color: gray;
}
